<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <section id="contact">
      <div class="contact-box">
        <div class="contact-links">
          <h2>CONTACT</h2>
          <div class="links">
            <div class="link">
              <a
                ><img
                  src="https://i.postimg.cc/m2mg2Hjm/linkedin.png"
                  alt="linkedin"
              /></a>
            </div>
            <div class="link">
              <a
                ><img
                  src="https://i.postimg.cc/YCV2QBJg/github.png"
                  alt="github"
              /></a>
            </div>
            <div class="link">
              <a
                ><img
                  src="https://i.postimg.cc/W4Znvrry/codepen.png"
                  alt="codepen"
              /></a>
            </div>
            <div class="link">
              <a
                ><img src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email"
              /></a>
            </div>
          </div>
        </div>
        <div class="contact-form-wrapper">
          <form action="/ask" method="POST">
            <div class="form-item">
              <input type="text" name="email" required />
              <label>Email:</label>
            </div>
            <div class="form-item">
              <input type="text" name="title" required />
              <label>title</label>
            </div>
            <div class="form-item">
              <textarea class="" name="question" required></textarea>
              <label>question</label>
            </div>

            <div class="form-item">
              <p>Department</p>
              <select class="" name="department" required>
                <% for(let department of departments) {%>
                <option value="<%=department.department_id%>">
                  <%= department.name %>
                </option>
                <%}%>
              </select>
            </div>
            <button class="submit-btn">Send question</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
